# UK Time Use Survey 2014-2015 Cleaning and Preprocessing

This notebook is primarily for cleaning and preprocessing the UK Time Use Survey (CTUR 2014-2015) Files. Dataset is available from https://beta.ukdataservice.ac.uk/datacatalogue/studies/study?id=8128

In [ ]:
import pandas as pd
import numpy as np

**Individual File**

This includes biographical information such as country of birth and citizenship, marital status, education, employment, work hours, net individual income, and receipt of benefits. There is information about voluntary work, and help and services provided to others, participation in leisure activities, general health, and enjoyment of activities, subjective wellbeing, and life satisfaction. There is information on the use of non-parental care for each child 0-14 years, and individuals’ caring responsibilities.

In [ ]:
individual = pd.read_csv("/content/individual.csv", usecols=["serial", "pnum","ind_wt","WorkSta","DMSex","MarStat","DVAge","Citizen1","Relate2"],na_values=" ")

The first few records of individual data looks like this:

In [ ]:
individual.head()

     serial  pnum  ind_wt  DMSex  WorkSta  DVAge  MarStat  Relate2  Citizen1
0  11010903     1     NaN      1        4     80        3        1         1
1  11010903     2     NaN      2        4     71        3        0         1
2  11010904     1     NaN      2        2     55        3        1         1
3  11010904     2     NaN      1        2     62        3        0         1
4  11010906     1     NaN      2        2     52        3        1         1

In [ ]:
# unique id for each household
individual.rename({"serial": "Household id"}, axis=1, inplace=True)

# DMSex is Gender from household grid
# 1 Male 
# 2 Female

individual.rename({"DMSex": "Gender from household grid"}, axis=1, inplace=True)

individual["Gender from household grid"] = individual["Gender from household grid"].map({1: "Male", 2: "Female"})

# WorkSta is major industry code
individual.rename({"WorkSta": "Economic activity status"}, axis=1, inplace=True)

individual["Economic activity status"] = individual["Economic activity status"].map(
    {
        1: "Self employed",
        2: "In paid employment (full or part-time)",
        3: "Unemployed",
        4: "Retired",
        5: "On maternity leave",
        6: "Looking after family or home",
        7: "Full-time student",
        8: "Long-term sick or disabled",
        9: "On a government training scheme",
        10: "Unpaid worker in family business",
        97: "Doing something else",
        -1: "Item not applicable",
        -9: "No answer/refused",
    }
)

# MarStat is Marital status

individual.rename({"MarStat": "Marital status"}, axis=1, inplace=True)

individual["Marital status"] = individual["Marital status"].map(
    {
        1: "Single, never married",
        2: "Cohabiting / living together",
        3: "Married and living with your/his/her husband/wife",
        4: "A civil partner in a legally recognised same-sex Civil Partn",
        5: "Separated, but still legally married",
        6: "Divorced",
        7: "Widowed",
        8: "Separated, but still legally in a same-sex civil partnership",
        -9: "No answer/refused",
        -8: "Don't know",
    }
)

# Citizen1 is Citizenship: UK citizen

individual.rename({"Citizen1": "Citizenship: UK citizen"}, axis=1, inplace=True)

individual["Citizenship: UK citizen"] = individual["Citizenship: UK citizen"].map(
    {
        0: "No",
        1: "Yes",
        -1: "Item not applicable",
        -9: "No answer/refused",      
    }
)

# Relate1 is How related to person 2
individual.rename({"Relate2": "How related to person 2"}, axis=1, inplace=True)

individual["How related to person 2"] = individual["How related to person 2"].map(
    {
        1: "Spouse",
        2: "Civil Partner",
        3: "Cohabiting partner",
        4: "Son/daughter (incl. adopted)",
        5: "Step-son/daughter",
        6: "Foster child",
        7: "Son-in-law/daughter-in-law",
        8: "Parent/guardian",
        9: "Step-parent",
        10: "Foster parent",
        11: "Parent-in-law",
        12: "Brother/sister (incl. adopted)",
        13: "Step-brother/sister",
        14: "Foster brother/sister",
        15: "Brother/sister-in-law",
        16: "Grandchild",
        17: "Grandparent",
        18: "Other relative",
        19: "Other non-relative",
        -9: "No answer/refused",
        -8: "Don't know",  
    }
)

# DVAge is Age.

# ind_wt is weight at the individual level

individual.rename({"ind_wt": "weightage"}, axis=1, inplace=True)

individual.head(15)

    Household id  pnum  ...       How related to person 2 Citizenship: UK citizen
0       11010903     1  ...                        Spouse                     Yes
1       11010903     2  ...                           NaN                     Yes
2       11010904     1  ...                        Spouse                     Yes
3       11010904     2  ...                           NaN                     Yes
4       11010906     1  ...                        Spouse                     Yes
5       11010906     2  ...                           NaN                     Yes
6       11010906     3  ...  Son/daughter (incl. adopted)     Item not applicable
7       11010907     1  ...                        Spouse                     Yes
8       11010907     2  ...                           NaN                     Yes
9       11010907     3  ...  Son/daughter (incl. adopted)     Item not applicable
10      11010908     1  ...                           NaN                     Yes
11      11010911     1  ...            Cohabiting partner                     Yes
12      11010911     2  ...                           NaN                     Yes
13      11010912     1  ...               Parent/guardian                     Yes
14      11010912     2  ...                           NaN                     Yes

[15 rows x 9 columns]

Replace all -1 (missing values) with NaN

In [ ]:
individual = individual.replace(-1, np.NaN)

The Individual File contains information about all the household family members, but we are interested only in the respondent, thus for each unique household id, consider only the first row, since that is information about the respondent.

In [ ]:
# interested only in respondent's data
# respondent is the first entry per unique household id
#individual.drop_duplicates(subset="Household id", keep="first", inplace=True)

First few rows, after processing the individual data is as follows:

In [ ]:
individual.head(20)

    Household id  pnum  ...         How related to person 2 Citizenship: UK citizen
0       11010903     1  ...                          Spouse                     Yes
1       11010903     2  ...                             NaN                     Yes
2       11010904     1  ...                          Spouse                     Yes
3       11010904     2  ...                             NaN                     Yes
4       11010906     1  ...                          Spouse                     Yes
5       11010906     2  ...                             NaN                     Yes
6       11010906     3  ...    Son/daughter (incl. adopted)     Item not applicable
7       11010907     1  ...                          Spouse                     Yes
8       11010907     2  ...                             NaN                     Yes
9       11010907     3  ...    Son/daughter (incl. adopted)     Item not applicable
10      11010908     1  ...                             NaN                     Yes
11      11010911     1  ...              Cohabiting partner                     Yes
12      11010911     2  ...                             NaN                     Yes
13      11010912     1  ...                 Parent/guardian                     Yes
14      11010912     2  ...                             NaN                     Yes
15      11010917     1  ...              Cohabiting partner                     Yes
16      11010917     2  ...                             NaN                     Yes
17      11010918     1  ...                 Parent/guardian                     Yes
18      11010918     2  ...                             NaN                     Yes
19      11010918     3  ...  Brother/sister (incl. adopted)                     Yes

[20 rows x 9 columns]

**Household File**

The household file contains data collected in the household interview. This includes information from the household grid providing information on the gender, age, paid work status, and relationship status of every member of the household. There is information on the household conditions, possessions, net household income from all sources, and information about the help or services households receiv

In [ ]:
household = pd.read_csv("/content/household.csv", usecols=["serial","Income","NumAdult","NumChild","DVHsize","VehNum"],na_values=" ")

The first few records of household data looks like this:

In [ ]:
household.head()

     serial  NumAdult  NumChild  DVHsize  VehNum  Income
0  11010903         2         0        2       2    3000
1  11010904         2         0        2       2      -9
2  11010906         3         0        3       4    3200
3  11010907         2         1        3       1    1100
4  11010908         1         0        1       2      -9

In [ ]:
# unique id for each household
household.rename({"serial": "Household id"}, axis=1, inplace=True)

# NumAdult is Number of adults in household
household.rename({"NumAdult": "Number of adults in household"}, axis=1, inplace=True)

# NumChild is Number of children in household
household.rename({"NumChild": "Number of children in household"}, axis=1, inplace=True)

# DVHsize is Number of people in Household
household.rename({"DVHsize": "Number of people in Household"}, axis=1, inplace=True)

# VehNum is Number of cars or vans
household.rename({"VehNum": "Number of cars or vans"}, axis=1, inplace=True)

# Income is Total monthly household income.
household.rename({"Income": "Total monthly household income"}, axis=1, inplace=True)

In [ ]:
household.head(15)

    Household id  ...  Total monthly household income
0       11010903  ...                            3000
1       11010904  ...                              -9
2       11010906  ...                            3200
3       11010907  ...                            1100
4       11010908  ...                              -9
5       11010911  ...                             120
6       11010912  ...                            1500
7       11010917  ...                            1900
8       11010918  ...                              -8
9       11010919  ...                            2000
10      11010920  ...                             700
11      11011202  ...                            3000
12      11011203  ...                            2500
13      11011207  ...                            1500
14      11011209  ...                            1500

[15 rows x 6 columns]

In [ ]:
household.shape

(4733, 6)

In [ ]:
index_names = household[ household['Total monthly household income'] == -9 ].index
household.drop(index_names, inplace = True)
  
household

      Household id  ...  Total monthly household income
0         11010903  ...                            3000
2         11010906  ...                            3200
3         11010907  ...                            1100
5         11010911  ...                             120
6         11010912  ...                            1500
...            ...  ...                             ...
4727      55051006  ...                            1065
4728      55051011  ...                            1400
4730      55051016  ...                              -8
4731      55051018  ...                            2400
4732      55051020  ...                             900

[4302 rows x 6 columns]

In [ ]:
index_names = household[ household['Total monthly household income'] == -8 ].index
household.drop(index_names, inplace = True)
  
household

      Household id  ...  Total monthly household income
0         11010903  ...                            3000
2         11010906  ...                            3200
3         11010907  ...                            1100
5         11010911  ...                             120
6         11010912  ...                            1500
...            ...  ...                             ...
4726      55051004  ...                            2500
4727      55051006  ...                            1065
4728      55051011  ...                            1400
4731      55051018  ...                            2400
4732      55051020  ...                             900

[3599 rows x 6 columns]

In [ ]:
household.shape

(3599, 6)

**Merging Multiple Files :**


We are going to merge multiple files into two final csv files, one contains respondent information, other contains information about the activities performed by respondent.

1. **Respondent Data**
Combining Respondent Data with Household data using the serial id(household id).

In [ ]:
# respondent + household data
respondentCleanedData = individual.merge(household, on=["Household id"])

In [ ]:
respondentCleanedData.tail(20)

      Household id  ...  Total monthly household income
8559      53051011  ...                             530
8560      53051013  ...                            7000
8561      53051016  ...                            3000
8562      53051018  ...                            1820
8563      54051003  ...                             680
8564      54051007  ...                            4000
8565      54051007  ...                            4000
8566      54051013  ...                            2400
8567      54051013  ...                            2400
8568      54051014  ...                             390
8569      54051015  ...                            3000
8570      54051015  ...                            3000
8571      55051004  ...                            2500
8572      55051004  ...                            2500
8573      55051006  ...                            1065
8574      55051011  ...                            1400
8575      55051011  ...                            1400
8576      55051018  ...                            2400
8577      55051018  ...                            2400
8578      55051020  ...                             900

[20 rows x 14 columns]

In [ ]:
respondentCleanedData.shape

(8579, 14)

In [ ]:
respondentCleanedData.isna().sum()

Household id                          0
pnum                                  0
weightage                          1971
Gender from household grid            0
Economic activity status              0
DVAge                                 0
Marital status                     2248
How related to person 2            3675
Citizenship: UK citizen               0
Number of adults in household         0
Number of children in household       0
Number of people in Household         0
Number of cars or vans                0
Total monthly household income        0
dtype: int64

In [ ]:
respondentCleanedData.dropna()

      Household id  ...  Total monthly household income
17        11011202  ...                            3000
21        11011203  ...                            2500
23        11011207  ...                            1500
25        11011209  ...                            1500
27        11011210  ...                            3500
...            ...  ...                             ...
8557      53051011  ...                             530
8564      54051007  ...                            4000
8566      54051013  ...                            2400
8569      54051015  ...                            3000
8571      55051004  ...                            2500

[2884 rows x 14 columns]

In [ ]:
respondentCleanedData.shape

(8579, 14)

In [ ]:
respondentCleanedData.to_csv("/content/respondentCleanedData.csv", index=False)

**Codes:**

The codes file contains all the mapping of code to the action performed.

In [ ]:
activityCodes = pd.read_csv("/content/ActivityCodes.csv",encoding='cp1252').set_index("code")

The first few rows of activityCodes looks like this:

In [ ]:
activityCodes.head()

                           name
code
0     Unspecified personal care
110                       Sleep
111           In bed not asleep
120                 Sick in bed
210                      Eating

We create a dictionary to easily map the code to activity in our UK-TUS dataframe.

**Wide Fromat File:**

Information from each field of the time diary is presented in a distinct array of variables comprising the 144 10-minute time slots that make up the entire diary day (from 4am to 4am).

In [ ]:
wide= pd.read_csv("/content/wide.csv",na_values=" ",usecols=np.r_[0,3,31:175])

In [ ]:
wide.head()

     serial  pnum  act1_1  act1_2  ...  act1_141  act1_142  act1_143  act1_144
0  11011202     1     110     110  ...       110       110       110       110
1  11011202     1     110     110  ...       110       110       110       110
2  11011202     4     110     110  ...       110       110       110       110
3  11011202     4     110     110  ...       110       110       110       110
4  11011203     1     110     110  ...       110       110       110       110

[5 rows x 146 columns]

In [ ]:
wide.shape

(16533, 146)

In [ ]:
# unique id for each household
wide.rename({"serial": "Household id"}, axis=1, inplace=True)

In [ ]:
# respondent is the first entry per unique household id
wide.drop_duplicates(subset="Household id", keep="first", inplace=True)

In [ ]:
wide.shape

(4230, 146)

In [ ]:
#activities = wide.loc[:,'act1_1':'act1_144']
#activities.head()

In [ ]:
#other_activity1 = wide.loc[:,'othact1_1':'othact1_144']
#other_activity1.head()

In [ ]:
#other_activity2 = wide.loc[:,'othact2_1':'othact2_144']
#other_activity2.head()

In [ ]:
#other_activity3 = wide.loc[:,'othact3_1':'othact3_144']
#other_activity3.head()

In [ ]:
#location_activity= wide.loc[:,'wher_1':'wher_144']
#location_activity.head()

In [ ]:
#Activity_alone= wide.loc[:,'wit0_1':'wit0_144']
#Activity_alone.head()

In [ ]:
#Activity_with_spouse= wide.loc[:,'wit1_1':'wit1_144']
#Activity_with_spouse.head()

In [ ]:
#Activity_with_mother= wide.loc[:,'wit2_1':'wit2_144']
#Activity_with_mother.head()

In [ ]:
#Activity_with_father= wide.loc[:,'wit3_1':'wit3_144']
#Activity_with_father.head()

In [ ]:
#Activity_with_child_0_7= wide.loc[:,'wit4_1':'wit4_144']
#Activity_with_child_0_7.head()

In [ ]:
#Activity_with_child_above8= wide.loc[:,'wit5_1':'wit5_144']
#Activity_with_child_above8.head()

In [ ]:
#Activity_with_otherperson= wide.loc[:,'wit6_1':'wit6_144']
#Activity_with_otherperson.head()

In [ ]:
#Activity_with_No_copresence = wide.loc[:,'wit7_1':'wit7_144']
#Activity_with_No_copresence.head()

In [ ]:
#Activity_with_Sleep_Work_Education= wide.loc[:,'wit8_1':'wit8_144']
#Activity_with_Sleep_Work_Education.head()

In [ ]:
#Enjoyment_activity= wide.loc[:,'enj1':'enj144']
#Enjoyment_activity.head()

In [ ]:
#Device_use_in_activity= wide.loc[:,'dev1':'dev144']
#Device_use_in_activity.head()

In [ ]:
episode = pd.read_csv("/content/episode.csv", na_values= " ",usecols=np.r_[0:4,32:47, 48:49])
episode.head()

     serial  strata  psu  pnum  ...  WithOther  WithOtherYK  WithMiss  Enjoy
0  11011202     110  117     1  ...          1            0         0      7
1  11011202     110  117     1  ...          1            0         0      7
2  11011202     110  117     1  ...          0            0         1      3
3  11011202     110  117     1  ...          0            0         1      3
4  11011202     110  117     1  ...          0            0         1      5

[5 rows x 20 columns]

In [ ]:
# unique id for each household
episode.rename({"serial": "Household id"}, axis=1, inplace=True)

# eptime is Episode time
episode.rename({"eptime": "Episode time"}, axis=1, inplace=True)

# whatdoing is Primary activity
episode.rename({"whatdoing":"Primary activity"}, axis=1, inplace=True)

episode["Primary activity"] = episode["Primary activity"].map(
    {
    0:      'Unspecified personal care',
    5120:   'Visiting and receiving visitors',
    7170:   'Correspondence',
    4100:   'Unspecified organisational work',
    6149:   'Other specified ball games',
    6150:   'Gymnastics',
    5292:   'Visiting a wildlife site',
    5130:   'Celebrations',
    4110:   'Work for an organisation',
    6160:   'Fitness',
    8210:   'Unspecified TV video or DVD watching',
    8211:   'Watching a film on TV',
    5140:   'Telephone conversation',
    4270:   'Unspecified childcare as help to other households',
    7190:   'Other specified or unspecified arts and hobbies',
    4120:   'Volunteer work through an organisation',
    6170:   'Unspecified water sports',
    8219:   'Other specified TV watching',
    3100:   'Unspecified food management',
    8221:   'Watching a film on video',
    8222:   'Watching sport on video',
    6179:   'Other specified water sports',
    8229:   'Other specified video watching',
    3110:   'Food preparation and baking',
    3250:   'Disposal of waste',
    6190:   'Other specified physical exercise',
    4275:   'Physical care and supervision of own child as help to other household',
    2100:   'Study: Unspecified activities related to school or university',
    6200:   'Unspecified productive exercise',
    3130:   'Dish washing',
    2110:    'Study: Classes and lectures',
    7231:    'Information searching on the internet',
    6210:    'Hunting and fishing',
    3140:    'Preserving',
    5190:    'Other specified social life',
    7239:    'Other specified information by computing',
    2120:    'Study: Homework',
    7241:    'Communication on the internet',
    1100:    'Main job: unspecified main job',
    5200:    'Unspecified entertainment and culture',
    7249:    'Other specified communication by computing',
    7250:    'Unspecified other computing',
    7251:    'Skype or other video call',
    9230:    'Travel escorting to/ from education',
    1110:    'Main job: Working time in main job',
    5210:    'Cinema',
    7259:    'Other specified computing',
    1210:    'Second job: Working time in second job',
    9310:    'Travel related to household care',
    1120:    'Main job: Coffee and other breaks in main job',
    5220:    'Unspecified theatre or concerts',
    5221:    'Plays musicals or pantomimes',
    5223:    'Concerts or other performances of classical music',
    4200:    'Unspecified informal help to other households',
    5225:    'Dance performances',
    8300:    'Unspecified listening to radio and music',
    5229:    'Other specified theatre or concerts',
    110:     'Sleep',
    111:     'Sleep: In bed not asleep',
    4210:    'Food management as help to other households',
    3190:    'Other specified food management',
    8311:    'Listening to music on the radio',
    120:     'Sleep: Sick in bed',
    5241:    'Borrowing books records audiotapes videotapes CDs VDs etc. from a library',
    5242:    'Reference to books and other library materials within a library',
    5243:    'Using internet in the library',
    4220:    'Household upkeep as help to other households',
    5245:    'Reading newspapers in a library',
    8319:    'Other specified radio listening',
    3200:    'Unspecified household upkeep',
    5249:    'Other specified library activities',
    5250:    'Sports events',
    7300:    'Unspecified games',
    4230:    'Gardening and pet care as help to other households',
    3210:    'Cleaning dwelling',
    9410:    'Travel related to voluntary work and meetings',
    2190:    'Study: other specified activities related to school or university',
    4240:    'Construction and repairs as help to other households',
    6290:    'Other specified productive exercise',
    3220:    'Cleaning yard',
    7320:    'Unspecified games and play with others',
    7321:    'Billiards pool snooker or petanque',
    4250:    'Shopping and services as help to other households',
    3230:    'Heating and water',
    7329:    'Other specified parlour games and play',
    2210:    'Free time study',
    6171:    'Swimming',
    9380:    'Travel escorting a child other than education',
    6310:    'Unspecified sports related activities',
    6311:    'Activities related to sports',
    3240:    'Arranging household goods and materials',
    8220:    'Unspecified video watching',
    5290:    'Other unspecified entertainment and culture',
    5291:    'Visiting a historical site',
    7340:    'Gambling',
    5293:    'Visiting a botanical site',
    5294:    'Visiting a leisure park',
    4271:    'Physical care and supervision of child as help to other household',
    4272:    'Teaching non-coresident child',
    4273:    'Reading playing & talking to non-coresident child',
    4274:    'Accompanying non-coresident child',
    5299:    'Other or unspecified entertainment or culture',
    4277:    'Reading playing & talking to own non-coresident child',
    4278:    'Accompanying own non-coresident child',
    4279:    'Other specified childcare as help to other household',
    9400:    'Travel related to organisational work',
    4281:    'Physical care and supervision of an adult as help to another household',
    4282:    'Accompanying an adult as help to another household',
    4283:    'Other specified help to an adult member of another household',
    4280:    'Unspecified help to an adult of another household',
    5310:    'Resting - Time out',
    4289:    'Other specified informal help to another household',
    4290:    'Other specified informal help',
    1220:    'Second job: Coffee and other breaks in second job',
    6144:    'Outdoor team games',
    9420:    'Travel related to informal help to other households',
    4300:    'Unspecified participatory activities',
    210:     'Eating',
    4310:    'Meetings',
    3290:    'Other or unspecified household upkeep',
    7390:    'Other specified games',
    4320:    'Religious activities',
    3300:    'Unspecified making and care for textiles',
    3310:    'Laundry',
    3320:    'Ironing',
    3330:    'Handicraft and producing textiles',
    9430:    'Travel related to religious activities',
    1300:    'Activities related to employment: Unspecified activities related to employment',
    9500:    'Travel to visit friends/relatives in their homes not respondents household',
    1310:    'Activities related to employment: Lunch break',
    9510:    'Travel related to other social activities',
    300:     'Other personal care: Unspecified other personal care',
    5295:    'Visiting an urban park playground designated play area',
    9520:    'Travel related to entertainment and culture',
    310:     'Other personal care: Wash and dress',
    7220:    'Computing - programming',
    3390:    'Other specified making and care for textiles',
    9440:    'Travel related to participatory activities other than religious activities',
    3410:    'Gardening',
    3420:    'Tending domestic animals',
    3430:    'Caring for pets',
    1390:    'Activities related to employment: Other specified activities related to employment',
    1391:    'Activities related to employment: Activities related to job seeking',
    3440:    'Walking the dog',
    7230:    'Unspecified information by computing',
    1399:    'Activities related to employment: Other unspecified activities related to employment',
    9600:    'Travel related to other leisure',
    390:     'Other personal care: Other specified personal care',
    9610:    'Travel related to physical exercise',
    9390:    'Travel escorting an adult other than education',
    9620:    'Travel related to hunting & fishing',
    9630:    'Travel related to productive exercise other than hunting & fishing',
    3490:    'Other specified gardening and pet care',
    3500:    'Unspecified construction and repairs',
    7240:    'Unspecified communication by computer',
    3510:    'House construction and renovation',
    9120:    'Travel to work from home and back only',
    6220:    'Picking berries mushroom and herbs',
    3530:    'Making repairing and maintaining equipment',
    3531:    'Woodcraft metalcraft sculpture and pottery',
    3539:    'Other specified making repairing and maintaining equipment',
    3540:    'Vehicle maintenance',
    9710:    'Travel related to gambling',
    9720:    'Travel related to hobbies other than gambling',
    3590:    'Other specified construction and repairs',
    3600:    'Unspecified shopping and services',
    3610:    'Unspecified shopping',
    3611:    'Shopping mainly for food',
    3612:    'Shopping mainly for clothing',
    3613:    'Shopping mainly related to accommodation',
    3614:    'Shopping or browsing at car boot sales or antique fairs',
    3615:    'Window shopping or other shopping as leisure',
    3619:    'Other specified shopping',
    3620:    'Commercial and administrative services',
    3630:    'Personal services',
    4190:    'Other specified organisational work',
    9800:    'Travel related to changing locality',
    3000:    'Unspecified household and family care',
    9810:    'Travel to holiday base',
    9820:    'Travel for day trip/just walk',
    3690:    'Other specified shopping and services',
    5224:    'Live music other than classical concerts opera and musicals',
    3710:    'Household management not using the internet',
    3713:    'Shopping for and ordering clothing via the internet',
    3720:    'Unspecified household management using the internet',
    3721:    'Shopping for and ordering unspecified goods and services via the internet',
    3722:    'Shopping for and ordering food via the internet',
    3724:    'Shopping for and ordering goods and services related to accommodation via the internet',
    3725:    'Shopping for and ordering mass media via the internet',
    3726:    'Shopping for and ordering entertainment via the internet',
    3727:    'Banking and bill paying via the internet',
    3729:    'Other specified household management using the internet',
    5230:    'Art exhibitions and museums',
    9890:    'Other specified travel',
    8310:    'Unspecified radio listening',
    5240:    'Unspecified library',
    9940:    'Punctuating activity',
    9941:    'Unknown: at home',
    3800:    'Unspecified childcare',
    9950:    'Filling in the time use diary',
    2000:    'Study: Unspecified study school or university',
    3810:    'Unspecified physical care & supervision of a child',
    3811:    'Feeding the child',
    4390:    'Other specified participatory activities',
    9960:    'No main activity no idea what it might be',
    5244:    "Using computers in the library other than internet use",
    3819:    "Other and unspecified physical care & supervision of a child",
    3820:    "Teaching the child",
    9970:    "No main activity some idea what it might be",
    3830:    "Reading playing and talking with child",
    9980:    "Illegible activity",
    3840:    "Accompanying child",
    8320:    "Listening to recordings",
    9990:    "Unspecified time use",
    9999:    "Queryable",
    7129:    "Other specified performing arts",
    8312:    "Listening to sport on the radio",
    9000:    "Travel related to unspecified time use",
    3890:    "Other or unspecified childcare",
    9010:    "Travel related to personal business",
    9370:    "Travel related to services",
    8000:    "Unspecified mass media",
    3910:    "Unspecified help to a non-dependent eg injured adult household member",
    3911:    "Physical care of a non-dependent e.g. injured adult household member",
    3914:    "Accompanying a non-dependent adult household member e.g. to hospital",
    3919:    "Other specified help to a non-dependent adult household member",
    3920:    "Unspecified help to a dependent adult household member",
    3921:    "Physical care of a dependent adult household member e.g. Alzheimic parent",
    3924:    "Accompanying a dependent adult household member e.g. Alzheimic",
    7310:    "Solo games and play",
    7000:    "Unspecified hobbies games and computing",
    3929:    "Other specified help to a dependent adult household member",
    8212:    "Watching sport on TV",
    9360:    "Travel related to shopping",
    6000:    "Unspecified sports and outdoor activities",
    1000:    "Unspecified employment",
    5000:    "Unspecified social life and entertainment",
    9100:    "Travel to/from work",
    9110:    "Travel in the course of work",
    7322:    "Chess and bridge",
    4000:    "Unspecified volunteer work and meetings",
    8100:    "Unspecified reading",
    9130:    "Travel to work from a place other than home",
    8110:    "Reading periodicals",
    8120:    "Reading books",
    7100:    "Unspecified arts",
    7110:    "Unspecified visual arts",
    7111:    "Painting drawing or other graphic arts",
    7112:    "Making videos taking photographs or related photographic activities",
    -1:      "Not applicable",
    7330:    "Computer games",
    7119:    "Other specified visual arts",
    7120:    "Unspecified performing arts",
    7121:    "Singing or other musical activities",
    6100:    "Unspecified physical exercise",
    4260:    "Help to other households in employment and farming",
    7130:    "Literary arts",
    6110:    "Walking and hiking",
    6111:    "Taking a walk or hike that lasts at least miles or 1 hour",
    7140:    "Other specified arts",
    6119:    "Other walk or hike",
    6120:    "Jogging and running",
    5100:    "Unspecified social life",
    7150:    "Unspecified hobbies",
    6312:    "Activities related to productive exercise",
    6130:    "Biking skiing and skating",
    6131:    "Biking",
    6132:    "Skiing or skating",
    6142:    "Indoor team games",
    5110:    "Socialising with family",
    7160:    "Collecting",
    9210:    "Travel related to education",
    6140:    "Unspecified ball games",
    6141:    "Indoor pairs or doubles games",
    8190:   "Other specified reading",
    6143:    "Outdoor pairs or doubles games"
    }
)

# What_Oth1 is Other activity 1
episode.rename({"What_Oth1":"Other activity 1"}, axis=1, inplace=True)

episode["Other activity 1"] = episode["Other activity 1"].map(
    {
    0:      'Unspecified personal care',
    5120:   'Visiting and receiving visitors',
    7170:   'Correspondence',
    4100:   'Unspecified organisational work',
    6149:   'Other specified ball games',
    6150:   'Gymnastics',
    5292:   'Visiting a wildlife site',
    5130:   'Celebrations',
    4110:   'Work for an organisation',
    6160:   'Fitness',
    8210:   'Unspecified TV video or DVD watching',
    8211:   'Watching a film on TV',
    5140:   'Telephone conversation',
    4270:   'Unspecified childcare as help to other households',
    7190:   'Other specified or unspecified arts and hobbies',
    4120:   'Volunteer work through an organisation',
    6170:   'Unspecified water sports',
    8219:   'Other specified TV watching',
    3100:   'Unspecified food management',
    8221:   'Watching a film on video',
    8222:   'Watching sport on video',
    6179:   'Other specified water sports',
    8229:   'Other specified video watching',
    3110:   'Food preparation and baking',
    3250:   'Disposal of waste',
    6190:   'Other specified physical exercise',
    4275:   'Physical care and supervision of own child as help to other household',
    2100:   'Study: Unspecified activities related to school or university',
    3130:   'Dish washing',
    2110:    'Study: Classes and lectures',
    7231:    'Information searching on the internet',
    6210:    'Hunting and fishing',
    3140:    'Preserving',
    5190:    'Other specified social life',
    7239:    'Other specified information by computing',
    2120:    'Study: Homework',
    7241:    'Communication on the internet',
    1100:    'Main job: unspecified main job',
    5200:    'Unspecified entertainment and culture',
    7249:    'Other specified communication by computing',
    7250:    'Unspecified other computing',
    7251:    'Skype or other video call',
    9230:    'Travel escorting to/ from education',
    1110:    'Main job: Working time in main job',
    5210:    'Cinema',
    7259:    'Other specified computing',
    1210:    'Second job: Working time in second job',
    9310:    'Travel related to household care',
    1120:    'Main job: Coffee and other breaks in main job',
    5220:    'Unspecified theatre or concerts',
    5221:    'Plays musicals or pantomimes',
    5223:    'Concerts or other performances of classical music',
    4200:    'Unspecified informal help to other households',
    8300:    'Unspecified listening to radio and music',
    5229:    'Other specified theatre or concerts',
    110:     'Sleep',
    111:     'Sleep: In bed not asleep',
    4210:    'Food management as help to other households',
    3190:    'Other specified food management',
    8311:    'Listening to music on the radio',
    120:     'Sleep: Sick in bed',
    5241:    'Borrowing books records audiotapes videotapes CDs VDs etc. from a library',
    5242:    'Reference to books and other library materials within a library',
    5243:    'Using internet in the library',
    4220:    'Household upkeep as help to other households',
    5245:    'Reading newspapers in a library',
    8319:    'Other specified radio listening',
    3200:    'Unspecified household upkeep',
    5250:    'Sports events',
    7300:    'Unspecified games',
    4230:    'Gardening and pet care as help to other households',
    3210:    'Cleaning dwelling',
    9410:    'Travel related to voluntary work and meetings',
    2190:    'Study: other specified activities related to school or university',
    4240:    'Construction and repairs as help to other households',
    3220:    'Cleaning yard',
    7320:    'Unspecified games and play with others',
    7321:    'Billiards pool snooker or petanque',
    4250:    'Shopping and services as help to other households',
    3230:    'Heating and water',
    7329:    'Other specified parlour games and play',
    2210:    'Free time study',
    6171:    'Swimming',
    9380:    'Travel escorting a child other than education',
    6311:    'Activities related to sports',
    3240:    'Arranging household goods and materials',
    8220:    'Unspecified video watching',
    5290:    'Other unspecified entertainment and culture',
    5291:    'Visiting a historical site',
    7340:    'Gambling',
    5293:    'Visiting a botanical site',
    5294:    'Visiting a leisure park',
    4271:    'Physical care and supervision of child as help to other household',
    4272:    'Teaching non-coresident child',
    4273:    'Reading playing & talking to non-coresident child',
    4274:    'Accompanying non-coresident child',
    5299:    'Other or unspecified entertainment or culture',
    4277:    'Reading playing & talking to own non-coresident child',
    4278:    'Accompanying own non-coresident child',
    4279:    'Other specified childcare as help to other household',
    9400:    'Travel related to organisational work',
    4281:    'Physical care and supervision of an adult as help to another household',
    4282:    'Accompanying an adult as help to another household',
    4283:    'Other specified help to an adult member of another household',
    4280:    'Unspecified help to an adult of another household',
    5310:    'Resting - Time out',
    4289:    'Other specified informal help to another household',
    4290:    'Other specified informal help',
    1220:    'Second job: Coffee and other breaks in second job',
    6144:    'Outdoor team games',
    9420:    'Travel related to informal help to other households',
    4300:    'Unspecified participatory activities',
    210:     'Eating',
    4310:    'Meetings',
    3290:    'Other or unspecified household upkeep',
    7390:    'Other specified games',
    4320:    'Religious activities',
    3300:    'Unspecified making and care for textiles',
    3310:    'Laundry',
    3320:    'Ironing',
    3330:    'Handicraft and producing textiles',
    9430:    'Travel related to religious activities',
    1300:    'Activities related to employment: Unspecified activities related to employment',
    9500:    'Travel to visit friends/relatives in their homes not respondents household',
    1310:    'Activities related to employment: Lunch break',
    9510:    'Travel related to other social activities',
    300:     'Other personal care: Unspecified other personal care',
    5295:    'Visiting an urban park playground designated play area',
    9520:    'Travel related to entertainment and culture',
    310:     'Other personal care: Wash and dress',
    7220:    'Computing - programming',
    3390:    'Other specified making and care for textiles',
    9440:    'Travel related to participatory activities other than religious activities',
    3410:    'Gardening',
    3420:    'Tending domestic animals',
    3430:    'Caring for pets',
    1390:    'Activities related to employment: Other specified activities related to employment',
    1391:    'Activities related to employment: Activities related to job seeking',
    3440:    'Walking the dog',
    7230:    'Unspecified information by computing',
    1399:    'Activities related to employment: Other unspecified activities related to employment',
    9600:    'Travel related to other leisure',
    390:     'Other personal care: Other specified personal care',
    9610:    'Travel related to physical exercise',
    9390:    'Travel escorting an adult other than education',
    9620:    'Travel related to hunting & fishing',
    3490:    'Other specified gardening and pet care',
    3500:    'Unspecified construction and repairs',
    7240:    'Unspecified communication by computer',
    3510:    'House construction and renovation',
    3520:    'Repairs of dwelling',
    9120:    'Travel to work from home and back only',
    6220:    'Picking berries mushroom and herbs',
    3530:    'Making repairing and maintaining equipment',
    3531:    'Woodcraft metalcraft sculpture and pottery',
    3539:    'Other specified making repairing and maintaining equipment',
    3540:    'Vehicle maintenance',
    9720:    'Travel related to hobbies other than gambling',
    3600:    'Unspecified shopping and services',
    3610:    'Unspecified shopping',
    3611:    'Shopping mainly for food',
    3612:    'Shopping mainly for clothing',
    3613:    'Shopping mainly related to accommodation',
    3614:    'Shopping or browsing at car boot sales or antique fairs',
    3615:    'Window shopping or other shopping as leisure',
    3619:    'Other specified shopping',
    3620:    'Commercial and administrative services',
    3630:    'Personal services',
    4190:    'Other specified organisational work',
    9800:    'Travel related to changing locality',
    3000:    'Unspecified household and family care',
    9810:    'Travel to holiday base',
    9820:    'Travel for day trip/just walk',
    3690:    'Other specified shopping and services',
    5224:    'Live music other than classical concerts opera and musicals',
    3710:    'Household management not using the internet',
    3713:    'Shopping for and ordering clothing via the internet',
    3720:    'Unspecified household management using the internet',
    3721:    'Shopping for and ordering unspecified goods and services via the internet',
    3722:    'Shopping for and ordering food via the internet',
    3724:    'Shopping for and ordering goods and services related to accommodation via the internet',
    3725:    'Shopping for and ordering mass media via the internet',
    3726:    'Shopping for and ordering entertainment via the internet',
    3727:    'Banking and bill paying via the internet',
    3729:    'Other specified household management using the internet',
    5230:    'Art exhibitions and museums',
    9890:    'Other specified travel',
    8310:    'Unspecified radio listening',
    5240:    'Unspecified library',
    9940:    'Punctuating activity',
    9941:    'Unknown: at home',
    3800:    'Unspecified childcare',
    9950:    'Filling in the time use diary',
    2000:    'Study: Unspecified study school or university',
    3810:    'Unspecified physical care & supervision of a child',
    3811:    'Feeding the child',
    4390:    'Other specified participatory activities',
    9960:    'No main activity no idea what it might be',
    5244:    "Using computers in the library other than internet use",
    3819:    "Other and unspecified physical care & supervision of a child",
    3820:    "Teaching the child",
    3830:    "Reading playing and talking with child",
    9980:    "Illegible activity",
    3840:    "Accompanying child",
    8320:    "Listening to recordings",
    9990:    "Unspecified time use",
    9999:    "Queryable",
    7129:    "Other specified performing arts",
    8312:    "Listening to sport on the radio",
    9000:    "Travel related to unspecified time use",
    3890:    "Other or unspecified childcare",
    9010:    "Travel related to personal business",
    9370:    "Travel related to services",
    8000:    "Unspecified mass media",
    3910:    "Unspecified help to a non-dependent eg injured adult household member",
    3911:    "Physical care of a non-dependent e.g. injured adult household member",
    3914:    "Accompanying a non-dependent adult household member e.g. to hospital",
    3919:    "Other specified help to a non-dependent adult household member",
    3920:    "Unspecified help to a dependent adult household member",
    3921:    "Physical care of a dependent adult household member e.g. Alzheimic parent",
    3924:    "Accompanying a dependent adult household member e.g. Alzheimic",
    7310:    "Solo games and play",
    7000:    "Unspecified hobbies games and computing",
    3929:    "Other specified help to a dependent adult household member",
    8212:    "Watching sport on TV",
    9360:    "Travel related to shopping",
    6000:    "Unspecified sports and outdoor activities",
    1000:    "Unspecified employment",
    5000:    "Unspecified social life and entertainment",
    9100:    "Travel to/from work",
    9110:    "Travel in the course of work",
    7322:    "Chess and bridge",
    4000:    "Unspecified volunteer work and meetings",
    8100:    "Unspecified reading",
    9130:    "Travel to work from a place other than home",
    8110:    "Reading periodicals",
    8120:    "Reading books",
    7100:    "Unspecified arts",
    7110:    "Unspecified visual arts",
    7111:    "Painting drawing or other graphic arts",
    7112:    "Making videos taking photographs or related photographic activities",
    -1:      "Not applicable",
    7330:    "Computer games",
    7119:    "Other specified visual arts",
    7120:    "Unspecified performing arts",
    7121:    "Singing or other musical activities",
    6100:    "Unspecified physical exercise",
    4260:    "Help to other households in employment and farming",
    7130:    "Literary arts",
    6110:    "Walking and hiking",
    6111:    "Taking a walk or hike that lasts at least miles or 1 hour",
    7140:    "Other specified arts",
    6119:    "Other walk or hike",
    6120:    "Jogging and running",
    5100:    "Unspecified social life",
    7150:    "Unspecified hobbies",
    6312:    "Activities related to productive exercise",
    6130:    "Biking skiing and skating",
    6131:    "Biking",
    6132:    "Skiing or skating",
    6142:    "Indoor team games",
    5110:    "Socialising with family",
    7160:    "Collecting",
    9210:    "Travel related to education",
    6140:    "Unspecified ball games",
    6141:    "Indoor pairs or doubles games",
    8190:   "Other specified reading",
    6143:    "Outdoor pairs or doubles games"
    }
)

# What_Oth2 is Other activity 2
episode.rename({"What_Oth2":"Other activity 2"}, axis=1, inplace=True)

episode["Other activity 2"] = episode["Other activity 2"].map(
    {
    0:      'Unspecified personal care', 5120:'Visiting and receiving visitors', 7170: 'Correspondence', 4100: 'Unspecified organisational work', 6149: 'Other specified ball games', 6150: 'Gymnastics', 5130: 'Celebrations', 4110: 'Work for an organisation',
    8210: 'Unspecified TV video or DVD watching', 8211: 'Watching a film on TV', 5140: 'Telephone conversation', 4270: 'Unspecified childcare as help to other households', 7190: 'Other specified or unspecified arts and hobbies', 4120: 'Volunteer work through an organisation',
    8219: 'Other specified TV watching', 3100: 'Unspecified food management', 8221:'Watching a film on video',8229:   'Other specified video watching', 3110:'Food preparation and baking', 6190:'Other specified physical exercise',
    2100:   'Study: Unspecified activities related to school or university', 3130:'Dish washing', 7231:'Information searching on the internet', 5190:'Other specified social life', 7239:'Other specified information by computing', 2120:'Study: Homework',
    7241:    'Communication on the internet', 7249:'Other specified communication by computing', 7250:'Unspecified other computing', 7251:'Skype or other video call', 1110:'Main job: Working time in main job', 5210:'Cinema',
    7259:    'Other specified computing', 1210:'Second job: Working time in second job', 1120:'Main job: Coffee and other breaks in main job', 8300:'Unspecified listening to radio and music', 5229:'Other specified theatre or concerts', 110:'Sleep',
    111:     'Sleep: In bed not asleep', 4210:'Food management as help to other households', 3190:'Other specified food management', 8311:'Listening to music on the radio', 120:'Sleep: Sick in bed', 4220:'Household upkeep as help to other households',
    8319:    'Other specified radio listening', 3200:'Unspecified household upkeep', 7300:'Unspecified games', 4230:'Gardening and pet care as help to other households', 3210:'Cleaning dwelling', 2190:'Study: other specified activities related to school or university',
    4240:    'Construction and repairs as help to other households', 3220:'Cleaning yard', 7320:'Unspecified games and play with others', 7321:'Billiards pool snooker or petanque', 4250:'Shopping and services as help to other households',
    3230:    'Heating and water', 7329:'Other specified parlour games and play', 2210:'Free time study', 9380:'Travel escorting a child other than education', 6311:    'Activities related to sports', 3240:'Arranging household goods and materials',
    8220:    'Unspecified video watching', 7340:'Gambling', 4271:'Physical care and supervision of child as help to other household', 4272:'Teaching non-coresident child', 4273:'Reading playing & talking to non-coresident child',
    4274:    'Accompanying non-coresident child', 5299:'Other or unspecified entertainment or culture', 4277:'Reading playing & talking to own non-coresident child', 4281:'Physical care and supervision of an adult as help to another household',
    4282:    'Accompanying an adult as help to another household', 5310:'Resting - Time out', 4290:'Other specified informal help', 6144:'Outdoor team games', 210:'Eating', 4310:'Meetings', 3290:'Other or unspecified household upkeep',
    7390:    'Other specified games', 4320:'Religious activities', 3300:'Unspecified making and care for textiles', 3310:'Laundry', 3320:'Ironing', 3330:'Handicraft and producing textiles', 9500:'Travel to visit friends/relatives in their homes not respondents household',
    1310:    'Activities related to employment: Lunch break', 9510:'Travel related to other social activities', 300:'Other personal care: Unspecified other personal care', 5295:'Visiting an urban park playground designated play area', 310:'Other personal care: Wash and dress',
    7220:    'Computing - programming', 3390:'Other specified making and care for textiles', 3410:'Gardening', 3420:'Tending domestic animals', 3430:'Caring for pets', 1391:'Activities related to employment: Activities related to job seeking', 3440:'Walking the dog',
    1399:    'Activities related to employment: Other unspecified activities related to employment', 9600:'Travel related to other leisure', 390:'Other personal care: Other specified personal care', 9610:'Travel related to physical exercise',
    9390:    'Travel escorting an adult other than education', 3490:'Other specified gardening and pet care', 7240:'Unspecified communication by computer', 9120:'Travel to work from home and back only', 3530:'Making repairing and maintaining equipment',
    3539:    'Other specified making repairing and maintaining equipment', 3540:'Vehicle maintenance', 3600:'Unspecified shopping and services', 3610:'Unspecified shopping', 3611:'Shopping mainly for food', 3613:'Shopping mainly related to accommodation',
    3615:    'Window shopping or other shopping as leisure',
    3619:    'Other specified shopping',
    3620:    'Commercial and administrative services',
    3630:    'Personal services',
    3000:    'Unspecified household and family care',
    9810:    'Travel to holiday base',
    5224:    'Live music other than classical concerts opera and musicals',
    3710:    'Household management not using the internet',
    3713:    'Shopping for and ordering clothing via the internet',
    3720:    'Unspecified household management using the internet',
    3721:    'Shopping for and ordering unspecified goods and services via the internet',
    3722:    'Shopping for and ordering food via the internet',
    3727:    'Banking and bill paying via the internet',
    3729:    'Other specified household management using the internet',
    9890:    'Other specified travel',
    8310:    'Unspecified radio listening',
    5240:    'Unspecified library',
    9940:    'Punctuating activity',
    9941:    'Unknown: at home',
    3800:    'Unspecified childcare',
    9950:    'Filling in the time use diary',
    2000:    'Study: Unspecified study school or university',
    3810:    'Unspecified physical care & supervision of a child',
    3811:    'Feeding the child',
    3819:    "Other and unspecified physical care & supervision of a child",
    3820:    "Teaching the child",
    3830:    "Reading playing and talking with child",
    9980:    "Illegible activity",
    8320:    "Listening to recordings",
    9990:    "Unspecified time use",
    9999:    "Queryable",
    8312:    "Listening to sport on the radio",
    9000:    "Travel related to unspecified time use",
    3890:    "Other or unspecified childcare",
    9370:    "Travel related to services",
    8000:    "Unspecified mass media",
    3910:    "Unspecified help to a non-dependent eg injured adult household member",
    3911:    "Physical care of a non-dependent e.g. injured adult household member",
    3914:    "Accompanying a non-dependent adult household member e.g. to hospital",
    3919:    "Other specified help to a non-dependent adult household member",
    3920:    "Unspecified help to a dependent adult household member",
    3921:    "Physical care of a dependent adult household member e.g. Alzheimic parent",
    7310:    "Solo games and play",
    8212:    "Watching sport on TV",
    9360:    "Travel related to shopping",
    1000:    "Unspecified employment",
    5000:    "Unspecified social life and entertainment",
    9110:    "Travel in the course of work",
    4000:    "Unspecified volunteer work and meetings",
    8100:    "Unspecified reading",
    9130:    "Travel to work from a place other than home",
    8110:    "Reading periodicals",
    8120:    "Reading books",
    7110:    "Unspecified visual arts",
    7111:    "Painting drawing or other graphic arts",
    7112:    "Making videos taking photographs or related photographic activities",
    -1:      "Not applicable",
    7330:    "Computer games",
    7121:    "Singing or other musical activities",
    6100:    "Unspecified physical exercise",
    7130:    "Literary arts",
    6110:    "Walking and hiking",
    6111:    "Taking a walk or hike that lasts at least miles or 1 hour",
    5100:    "Unspecified social life",
    6132:    "Skiing or skating",
    5110:    "Socialising with family",
    9210:    "Travel related to education",
    6140:    "Unspecified ball games",
    6141:    "Indoor pairs or doubles games",
    8190:   "Other specified reading",
    6143:    "Outdoor pairs or doubles games"
    }
)

# What_Oth3 is Other activity 3
episode.rename({"What_Oth3":"Other activity 3"}, axis=1, inplace=True)

episode["Other activity 3"] = episode["Other activity 3"].map(
    {
    5120:   'Visiting and receiving visitors',
    7170:   'Correspondence',
    6149:   'Other specified ball games',
    6150:   'Gymnastics',
    5292:   'Visiting a wildlife site',
    5130:   'Celebrations',
    6160:   'Fitness',
    8210:   'Unspecified TV video or DVD watching',
    8211:   'Watching a film on TV',
    5140:   'Telephone conversation',
    7190:    'Other specified or unspecified arts and hobbies',
    4120:   'Volunteer work through an organisation',
    6170:   'Unspecified water sports',
    8219:   'Other specified TV watching',
    8221:   'Watching a film on video',
    8222:   'Watching sport on video',
    6179:   'Other specified water sports',
    8229:   'Other specified video watching',
    3110:   'Food preparation and baking',
    6190:   'Other specified physical exercise',
    6200:   'Unspecified productive exercise',
    3130:   'Dish washing',
    7231:    'Information searching on the internet',
    6210:    'Hunting and fishing',
    5190:    'Other specified social life',
    7239:    'Other specified information by computing',
    2120:    'Study: Homework',
    7241:    'Communication on the internet',
    5200:    'Unspecified entertainment and culture',
    7249:    'Other specified communication by computing',
    7250:    'Unspecified other computing',
    7251:    'Skype or other video call',
    9230:    'Travel escorting to/ from education',
    1110:    'Main job: Working time in main job',
    5210:    'Cinema',
    7259:    'Other specified computing',
    9310:    'Travel related to household care',
    5220:    'Unspecified theatre or concerts',
    5221:    'Plays musicals or pantomimes',
    5223:    'Concerts or other performances of classical music',
    5225:    'Dance performances',
    8300:    'Unspecified listening to radio and music',
    5229:    'Other specified theatre or concerts',
    110:     'Sleep',
    111:     'Sleep: In bed not asleep',
    8311:    'Listening to music on the radio',
    5241:    'Borrowing books records audiotapes videotapes CDs VDs etc. from a library',
    5242:    'Reference to books and other library materials within a library',
    5243:    'Using internet in the library',
    5245:    'Reading newspapers in a library',
    8319:    'Other specified radio listening',
    3200:    'Unspecified household upkeep',
    5249:    'Other specified library activities',
    5250:    'Sports events',
    7300:    'Unspecified games',
    3210:    'Cleaning dwelling',
    9410:    'Travel related to voluntary work and meetings',
    6290:    'Other specified productive exercise',
    7320:    'Unspecified games and play with others',
    7321:    'Billiards pool snooker or petanque',
    7329:    'Other specified parlour games and play',
    6171:    'Swimming',
    9380:    'Travel escorting a child other than education',
    6310:    'Unspecified sports related activities',
    6311:    'Activities related to sports',
    3240:    'Arranging household goods and materials',
    8220:    'Unspecified video watching',
    5290:    'Other unspecified entertainment and culture',
    5291:    'Visiting a historical site',
    7340:    'Gambling',
    5293:    'Visiting a botanical site',
    5294:    'Visiting a leisure park',
    4273:    'Reading playing & talking to non-coresident child',
    5299:    'Other or unspecified entertainment or culture',
    9400:    'Travel related to organisational work',
    5310:    'Resting - Time out',
    6144:    'Outdoor team games',
    9420:    'Travel related to informal help to other households',
    210:     'Eating',
    3290:    'Other or unspecified household upkeep',
    7390:    'Other specified games',
    4320:    'Religious activities',
    3300:    'Unspecified making and care for textiles',
    3310:    'Laundry',
    3320:    'Ironing',
    9430:    'Travel related to religious activities',
    9500:    'Travel to visit friends/relatives in their homes not respondents household',
    1310:    'Activities related to employment: Lunch break',
    9510:    'Travel related to other social activities',
    5295:    'Visiting an urban park playground designated play area',
    9520:    'Travel related to entertainment and culture',
    310:     'Other personal care: Wash and dress',
    7220:    'Computing - programming',
    9440:    'Travel related to participatory activities other than religious activities',
    3420:    'Tending domestic animals',
    3430:    'Caring for pets',
    1391:    'Activities related to employment: Activities related to job seeking',
    3440:    'Walking the dog',
    7230:    'Unspecified information by computing',
    9600:    'Travel related to other leisure',
    390:     'Other personal care: Other specified personal care',
    9610:    'Travel related to physical exercise',
    9390:    'Travel escorting an adult other than education',
    9620:    'Travel related to hunting & fishing',
    9630:    'Travel related to productive exercise other than hunting & fishing',
    3500:    'Unspecified construction and repairs',
    7240:    'Unspecified communication by computer',
    9120:    'Travel to work from home and back only',
    6220:    'Picking berries mushroom and herbs',
    3539:    'Other specified making repairing and maintaining equipment',
    9710:    'Travel related to gambling',
    9720:    'Travel related to hobbies other than gambling',
    3615:    'Window shopping or other shopping as leisure',
    3630:    'Personal services',
    9800:    'Travel related to changing locality',
    9810:    'Travel to holiday base',
    9820:    'Travel for day trip/just walk',
    5224:    'Live music other than classical concerts opera and musicals',
    3710:    'Household management not using the internet',
    3721:    'Shopping for and ordering unspecified goods and services via the internet',
    3727:    'Banking and bill paying via the internet',
    5230:    'Art exhibitions and museums',
    9890:    'Other specified travel',
    8310:    'Unspecified radio listening',
    5240:    'Unspecified library',
    9940:    'Punctuating activity',
    9941:    'Unknown: at home',
    9950:    'Filling in the time use diary',
    2000:    'Study: Unspecified study school or university',
    3810:    'Unspecified physical care & supervision of a child',
    9960:    'No main activity no idea what it might be',
    5244:    "Using computers in the library other than internet use",
    3819:    "Other and unspecified physical care & supervision of a child",
    3820:    "Teaching the child",
    9970:    "No main activity some idea what it might be",
    3830:    "Reading playing and talking with child",
    9980:    "Illegible activity",
    8320:    "Listening to recordings",
    9990:    "Unspecified time use",
    9999:    "Queryable",
    7129:    "Other specified performing arts",
    8312:    "Listening to sport on the radio",
    9000:    "Travel related to unspecified time use",
    9010:    "Travel related to personal business",
    9370:    "Travel related to services",
    8000:    "Unspecified mass media",
    3920:    "Unspecified help to a dependent adult household member",
    7310:    "Solo games and play",
    7000:    "Unspecified hobbies games and computing",
    8212:    "Watching sport on TV",
    9360:    "Travel related to shopping",
    6000:    "Unspecified sports and outdoor activities",
    9100:    "Travel to/from work",
    9110:    "Travel in the course of work",
    7322:    "Chess and bridge",
    8100:    "Unspecified reading",
    9130:    "Travel to work from a place other than home",
    8110:    "Reading periodicals",
    8120:    "Reading books",
    7100:    "Unspecified arts",
    7110:    "Unspecified visual arts",
    7111:    "Painting drawing or other graphic arts",
    7112:    "Making videos taking photographs or related photographic activities",
    -1:      "Not applicable",
    7330:    "Computer games",
    7119:    "Other specified visual arts",
    7120:    "Unspecified performing arts",
    7121:    "Singing or other musical activities",
    6100:    "Unspecified physical exercise",
    7130:    "Literary arts",
    6110:    "Walking and hiking",
    6111:    "Taking a walk or hike that lasts at least miles or 1 hour",
    7140:    "Other specified arts",
    6119:    "Other walk or hike",
    6120:    "Jogging and running",
    5100:    "Unspecified social life",
    7150:    "Unspecified hobbies",
    6312:    "Activities related to productive exercise",
    6130:    "Biking skiing and skating",
    6131:    "Biking",
    6132:    "Skiing or skating",
    6142:    "Indoor team games",
    5110:    "Socialising with family",
    7160:    "Collecting",
    9210:    "Travel related to education",
    6140:    "Unspecified ball games",
    6141:    "Indoor pairs or doubles games",
    8190:   "Other specified reading",
    6143:    "Outdoor pairs or doubles games"
    }
)

# WhereWhen is Location of activity
episode.rename({"WhereWhen":"Location of activity"}, axis=1, inplace=True)
episode["Location of activity"] = episode["Location of activity"].map(
    { 
    0.0: 'Unspecified location',
    10.0: 'Unspecified location (not travelling)',
   11.0: 'Home',
    12.0: 'Second home or weekend house',
    13.0: 'Working place or school',
   14.0: 'Other people’s home',
    15.0: 'Restaurant cafe or pub',
    16.0: 'Sports facility',
    17.0: 'Arts or cultural centre',
    18.0: 'Park’s countryside seaside beach or coast',
    19.0: 'Shopping centres markets other shops',
    20.0: 'Hotel guesthouse camping site',
   21.0: 'Other specified location (not travelling) ',
    30.0: 'Unspecified private transport mode',
    31.0: 'Travelling on foot',
    32.0: 'Travelling by bicycle',
    33.0: 'Travelling by moped motorcycle or motorboat',
    34.0: 'Travelling by passenger car as the driver',
   35.0: 'Travelling by passenger car as a passenger',
    36.0: 'Travelling by passenger car - driver status unspecified',
    37.0: 'Travelling by lorry or tractor',
    38.0: 'Travelling by van',
    39.0: 'Other specified private travelling mode',
    40.0: 'Unspecified public transport mode',
    41.0: 'Travelling by taxi',
    42.0: 'Travelling by bus',
    43.0: 'Travelling by tram or underground',
    44.0: 'Travelling by train',
    45.0: 'Travelling by aeroplane',
    46.0: 'Travelling by boat or ship',
    47.0: 'Travelling by coach',
    48.0: 'Waiting for public transport',
    49.0: 'Other specified public transport mode',
    90.0: 'Unspecified transport mode',
    99.0: 'Illegible location or transport mode',
    -9.0: 'No answer/refused',
    -7.0: 'Interview not achieved',
    -2.0: 'Schedule not applicable'
    }
)

# Device is Whether used smartphone/tablet/laptop
episode.rename({"Device": "Whether used smartphone/tablet/laptop"}, axis=1, inplace=True)
episode["Whether used smartphone/tablet/laptop"] = episode["Whether used smartphone/tablet/laptop"].map(
  { 0.0: 'not using device',1.0: 'using device',-9.0:'not reported'} )

# WithAlone is Activity performed alone
episode.rename({"WithAlone": "Activity performed alone"}, axis=1, inplace=True)
episode["Activity performed alone"] = episode["Activity performed alone"].map( { 0.0: 'Not reported',1.0: 'Reported'} )

# WithSpouse is activity With spouse/partner
episode.rename({"WithSpouse": "activity With spouse/partner"}, axis=1, inplace=True)
episode["activity With spouse/partner"] = episode["activity With spouse/partner"].map(
  { 0.0: 'Not reported',1.0: 'Reported'} )

# WithMother is activity With mother
episode.rename({"WithMother": "activity With mother"}, axis=1, inplace=True)
episode["activity With mother"] = episode["activity With mother"].map(
  { 0.0: 'Not reported',1.0: 'Reported'} )

# WithFather is activity With father
episode.rename({"WithFather": "activity With father"}, axis=1, inplace=True)
episode["activity With father"] = episode["activity With father"].map(
  { 0.0: 'Not reported',1.0: 'Reported'} )

# WithChild is activity With child 0-7 years
episode.rename({"WithChild": "activity With child 0-7 years"}, axis=1, inplace=True)
episode["activity With child 0-7 years"] = episode["activity With child 0-7 years"].map(
  { 0.0: 'Not reported',1.0: 'Reported'} )

# WithOther is activity With other person(s) (incl. child 8+ years)
episode.rename({"WithOther": "activity With other person(s) (incl. child 8+ years)"}, axis=1, inplace=True)
episode["activity With other person(s) (incl. child 8+ years)"] = episode["activity With other person(s) (incl. child 8+ years)"].map(
  { 0.0: 'Not reported',1.0: 'Reported'} )

# WithOtherYK is activity With other(s) you know outside of HH
episode.rename({"WithOtherYK": "activity With other(s) you know outside of HH"}, axis=1, inplace=True)
episode["activity With other(s) you know outside of HH"] = episode["activity With other(s) you know outside of HH"].map(
  { 0.0: 'Not reported',1.0: 'Reported'} )

# WithMiss is activity With No co-presence reported
episode.rename({"WithMiss": "activity With No co-presence reported"}, axis=1, inplace=True)
episode["activity With No co-presence reported"] = episode["activity With No co-presence reported"].map(
  { 0.0: 'Co-presence reported',1.0: 'No co-presence reported'} )

# Enjoy is Level of enjoyment
episode.rename({"Enjoy": "Level of enjoyment"}, axis=1, inplace=True)
episode["Level of enjoyment"] = episode["Level of enjoyment"].map(
  { -9.0: 'Not reported',1.0: 'not at all', -1.0:'NA', 7.0:'Very Much',2.0:'Average',3.0:'Average',4.0:'Average',5.0:'Average',6.0:'Average'} )

In [ ]:
episode.head()

   Household id  ...  Level of enjoyment
0      11011202  ...           Very Much
1      11011202  ...           Very Much
2      11011202  ...             Average
3      11011202  ...             Average
4      11011202  ...             Average

[5 rows x 20 columns]

In [ ]:
serial_group_ep = episode.groupby(['Household id', 'pnum'])
  
# Print the first value in each group
serial_group_ep.first()

                   strata  ...  Level of enjoyment
Household id pnum          ...
11011202     1        110  ...           Very Much
             4        110  ...           Very Much
11011203     1        110  ...           Very Much
11011207     1        110  ...           Very Much
             2        110  ...           Very Much
...                   ...  ...                 ...
55051004     2        102  ...             Average
55051011     1        102  ...             Average
             2        102  ...           Very Much
55051014     1        102  ...             Average
55051020     1        102  ...           Very Much

[8274 rows x 18 columns]

In [ ]:
episode.shape

(587632, 20)

In [ ]:
episode.drop_duplicates(subset="Household id", keep="first", inplace=True)

In [ ]:
episode.shape

(4230, 20)

In [ ]:
episode.isna().sum()

Household id                                               0
strata                                                     0
psu                                                        0
pnum                                                       0
Episode time                                               0
Primary activity                                           0
Other activity 1                                        4147
Other activity 2                                        4225
Other activity 3                                        4230
Location of activity                                       0
Whether used smartphone/tablet/laptop                      0
Activity performed alone                                   0
activity With spouse/partner                               0
activity With mother                                       0
activity With father                                       0
activity With child 0-7 years                              0
activity With other person(s) (incl. child 8+ years)       0
activity With other(s) you know outside of HH              0
activity With No co-presence reported                      0
Level of enjoyment                                         0
dtype: int64

**Merging files**

**2. Activity Data**

Combining activity (wide format) data with episode format data to get information about who was with respondent when activity was being performed. The merge is done using unique household id id and person number.

In [ ]:
# wide + episode data
activityCleanedData = wide.merge(episode, on=["Household id","pnum"])

In [ ]:
serial_group_act = activityCleanedData.groupby(['Household id'])
  
# Print the first value in each group
serial_group_act.first()

              pnum  ...  Level of enjoyment
Household id        ...
11011202         1  ...           Very Much
11011203         1  ...           Very Much
11011207         1  ...           Very Much
11011209         1  ...           Very Much
11011210         1  ...           Very Much
...            ...  ...                 ...
54051015         1  ...           Very Much
55051004         1  ...             Average
55051011         1  ...             Average
55051014         1  ...             Average
55051020         1  ...           Very Much

[4230 rows x 163 columns]

In [ ]:
activityCleanedData.head()

   Household id  ...  Level of enjoyment
0      11011202  ...           Very Much
1      11011203  ...           Very Much
2      11011207  ...           Very Much
3      11011209  ...           Very Much
4      11011210  ...           Very Much

[5 rows x 164 columns]

In [ ]:
activityCleanedData.shape

(4230, 164)

In [ ]:
finaldata = respondentCleanedData.merge(activityCleanedData, on=["Household id","pnum"])

In [ ]:
finaldata.head()

   Household id  ...  Level of enjoyment
0      11011202  ...           Very Much
1      11011203  ...           Very Much
2      11011207  ...           Very Much
3      11011209  ...           Very Much
4      11011210  ...           Very Much

[5 rows x 176 columns]

In [ ]:
finaldata.shape

(3293, 176)

In [ ]:
finaldata.to_csv("/content/finaldata.csv", index=False)

We now perform analysis.